@using EFClassLibrary;
@{
    ViewBag.Title = "首页-";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb">
    <li class="breadcrumb-item">后台首页</li>
</ol>


<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-6 col-lg-3">
                <div class="card">
                    <div class="card-block p-0 clearfix">
                        <i class="fa fa-file bg-primary p-2 font-2xl mr-1 float-left"></i>
                        <div class="h5 text-primary mb-0 pt-1">@ViewBag.p</div>
                        <div class="text-muted text-uppercase font-weight-bold font-xs">问卷</div>
                    </div>
                </div>
            </div>
            <!--/.col-->

            <div class="col-6 col-lg-3">
                <div class="card">
                    <div class="card-block p-0 clearfix">
                        <i class="fa fa-file-text bg-info p-2 font-2xl mr-1 float-left"></i>
                        <div class="h5 text-info mb-0 pt-1">@ViewBag.s</div>
                        <div class="text-muted text-uppercase font-weight-bold font-xs">题目</div>
                    </div>
                </div>
            </div>
            <!--/.col-->

            <div class="col-6 col-lg-3">
                <div class="card">
                    <div class="card-block p-0 clearfix">
                        <i class="fa fa-user bg-warning p-2 font-2xl mr-1 float-left"></i>
                        <div class="h5 text-warning mb-0 pt-1">@ViewBag.u </div>
                        <div class="text-muted text-uppercase font-weight-bold font-xs">用户</div>
                    </div>
                </div>
            </div>
            <!--/.col-->

            <div class="col-6 col-lg-3">
                <div class="card">
                    <div class="card-block p-0 clearfix">
                        <i class="fa fa-comment bg-danger p-2 font-2xl mr-1 float-left"></i>
                        <div class="h5 text-danger mb-0 pt-1">@ViewBag.c</div>
                        <div class="text-muted text-uppercase font-weight-bold font-xs">评论</div>
                    </div>
                </div>
            </div>
            <!--/.col-->

        </div>
        <!--/.row-->
    
        <div class="row">
            <!--/.col-->
        </div>



    </div>


</div>
<!-- /.conainer-fluid -->
