@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.ip
    </div>
</body>

</html>
<script>

    setTimeout("location=location; ", 1000);
</script>